.back {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-origin: content-box;
}

.a {
  color: white;
  font-family: 'Didact Gothic';
  font-size: 30px;
}
